<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
</head>
<body>
    <h1>Todo List</h1>
    <form action="/" method="POST">
        <label>Title</label>
        <input type="text" name="title" placeholder="Enter Title">
        <label>Description</label>
        <input type="text" name="description" placeholder="Enter Description">
        <button type="submit">Add Todo</button>
    </form>
    <ul>
        {% for todo in todos %}
            <li>{{ todo.sno }}: {{ todo.title }} - {{ todo.description }}
                <a href="/update/{{ todo.sno }}">Update</a>
                <a href="/delete/{{ todo.sno }}">Delete</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
